/*==== Globle css for all. ====*/

.home-wrapper {              /*==== Globle css of home page. ====*/   
  width: 100%;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: auto;
}

.app-main {
  min-height: 100vh;      /*==== 👉 Page ki height kam se kam full screen ke barabar hogi. Agar kisi page pe content kam hai (jaise About page me 2 line text hi hai),
  to footer upar nahi chipkega — page full screen bhara hua lagega.. ====*/
  display: flex;
  flex-direction: column;
}


body {
  background-color: #0b0b0b;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* ==================================================
   2. GLOBAL TEXT & LINKS
================================================== */

.text-muted {
  color: #b3b3b3 !important;
}

a {
  color: #d4af37;
  text-decoration: none;
}

a:hover {
  color: #ff6a00;
}

/* ==================================================
   3. BUTTON THEME
================================================== */

.btn-kalesh {
  background: linear-gradient(135deg, #ff2a2a, #ff6a00);
  color: #ffffff;
  border: none;
  padding: 12px 28px;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0 0 25px rgba(255, 106, 0, 0.6);
  transition: all 0.3s ease;
}

.btn-kalesh:hover {
  transform: scale(1.06);
  box-shadow: 0 0 40px rgba(255, 106, 0, 1);
}

.btn-outline-kalesh {
  background: transparent;
  border: 1px solid #d4af37;
  color: #d4af37;
  padding: 12px 28px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn-outline-kalesh:hover {
  background-color: rgba(212, 175, 55, 0.1);
  color: #ff6a00;
}













